body {
    background-color: #000000;
    color: #ffffff;
}

p {
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-c: gr-doh2prx: ;
    border-c gr-owi t5: ;
}